<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name = "author" content = "{{ .Site.Author.name }}" />
    <link href="{{ .Site.Params.favicon | absURL }}" rel = "icon" type = "image/x-icon" />
    <title>{{ .Site.Params.titel }} | {{ .Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
  </head>

  <body>
    <nav>
    <ul class="menu">
      <div class="title" >
      <a href="/"> {{ .Site.Title }} </a>
      </div>
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr/>
    </nav>
